.login-page {
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dfomcgwro/image/upload/v1769703258/netfilx_1_rkvjww.png');
  background-size: cover;
  padding: 16px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}
.form-container {
  width: 456px;
  height: 440px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 50px;
  border-radius: 8px;
  color: white;
}

.form-container h1 {
  font-size: 32px;
  margin-bottom: 28px;
  text-align: center;
}

.form-container label {
  font-size: 12px;
  font-weight: 500;
}

.form-container input {
  width: 360px;
  padding: 16px;
  height: 40px;
  margin-bottom: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: #333;
  color: #e2e8f0;
}

.form-container button {
  width: 360px;
  height: 40px;
  background-color: #e50914;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 26px;
}

.form-container button:hover {
  background-color: #f6121d;
}

.error-message {
  color: #dc2626;
  font-size: 14px;
  margin-top: -10px;  
  margin-bottom: -10px;
}
