.popular-page{
    background-color: black;
    padding-top: 5rem;
    min-height: 100vh;
}

.popular-movies-list{
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.popular-movies-list img{
    width: 300px;
}